---
layout: site
body_class: overview
---
<section class="hero">
  <div class="container">
    <div class="image">
      <img src="{{ site.url }}/img/banner1.png" alt="INSEI" width="486px" height="318px">
      &nbsp;
    </div>
    <div class="intro">
      <div class="content">
        <h2>In a nutshell...</h2>
        <p>As an interdisciplinary group, the Interdisciplinary Network on Sympathy/Empathy and Imagination brings together scholarly research on the concepts of sympathy and empathy. We aim to show the continuity of ancient and contemporary thought about these concepts, and explore the relation of empathy and sympathy to the imagination.
</p>
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="container">
    <div class="third">
      <div class="content">
        <h3>Aims</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="more"><a href="/web/" class="">Read more »</a></p>
      </div>
    </div>
    <div class="third">
      <div class="content">
        <h3>Resources</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="more"><a href="/resources/" class="">View our profiles »</a></p>
      </div>
    </div>
    <div class="third">
      <div class="content">
        <h3>Meetings</h3>
        <p>We try to meet, around the globe, when several of us are in the same place. Meetings are posted with the name of the local organiser, who can answer enquiries about attending one of these.</p>
        <p class="more"><a href="/web/" class="">Browse our resources »</a></p>
      </div>
    </div>
    <!-- {% include try_git_banner.html %} -->
    {% include page_bottom.html %}
  </div>
</section>
