---
layout: site
body_class: overview
---
<section class="hero">
  <div class="container">
    <div class="image">
      <img src="{{ site.url }}/img/banner1.png" alt="INSEI" width="486px" height="318px">
      &nbsp;
    </div>
    <div class="intro">
      <div class="content">
        <h2>Sympathy, empathy and imagination</h2>
        <p>As an interdisciplinary group, the Interdisciplinary Network on Sympathy/Empathy and Imagination brings together scholarly research on the concepts of sympathy and empathy.
</p>
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="container">
    <div class="third">
      <div class="content">
        <h3>Aims</h3>
        <p>We aim to show the continuity of ancient and contemporary thought about these concepts, and explore the relation of empathy and sympathy to the imagination.</p>
        <!-- <p class="more"><a href="/meetings/" class="">Read more »</a></p> -->
      </div>
    </div>
    <div class="third">
      <div class="content">
        <h3>Resources</h3>
        <p>We bring together expertise and scholarship from various academic disciplines. Our resources page collects recent publications by members, and contains a bibliography with essential reading on sympathy, empathy and imagination.</p>
        <p class="more"><a href="/resources/" class="">Browse our resources »</a></p>
      </div>
    </div>
    <div class="third">
      <div class="content">
        <h3>Meetings</h3>
        <p>We try to meet, around the globe, when several of us are in the same place. Meetings are posted with the name of the local organiser, who can answer enquiries about attending one of these.</p>
        <p class="more"><a href="/meetings/" class="">Future and past meetings »</a></p>
      </div>
    </div>
    <!-- {% include try_git_banner.html %} -->
    {% include page_bottom.html %}
  </div>
</section>
