---
layout: web
subpage: classes
---

<div class="container">
  <div class="three-quarters">
    <div class="content">
      <div class="section-description">
        <h3>Past meetings</h3>
        <p>Below you find a list of past meetings of the group.</p>
      </div>
      <ul class="resource-list class-list">
        {% for class in site.tags.past reversed %}
          <li class="resource class">
            <div class="summary">
              <div class="actions">
                <!-- <p class="cost">Free Class</p> -->
                <!-- <p class="register">
                  <a href="{{ class.registration_url }}" class="button">Register Now</a>
                </p> -->
              </div>
              <h4>{{ class.title }}</h4>
	                   <p><em>{{ class.location }}</em></p><br/>
              {{ class.content }}
            </div>
            <div class="details">
              <span class="date">
                <img src="{{ site.url }}/img/icon-calendar.png" alt="Date" width="16px" height="16px" class="icon">
                {{ class.the_date }}
              </span>
              <span class="time">
                <img src="{{ site.url }}/img/icon-clock.png" alt="Time" width="16px" height="16px" class="icon">
                {{ class.start_time }}
                {% if class.end_time %} to {{ class.end_time }}{% endif %}
                {% if class.timezone %}(<a href="{{ class.timezonelink }}">{{ class.timezone }}</a>){% endif %}
              </span>
            </div>
          </li>
        {% endfor %}
      {% if site.tags.web-free[0] == null %}
        <p>There are no scheduled meetings at this time.</p>
      {% endif %}
      </ul>
    </div>
  </div>
  <div class="quarter">
    <div class="content">
      <div class="help-box">
        <h4>About our meetings</h4>
        <p>We try to meet, around the globe, when several of us are in the same place. Meetings are posted with the name of the local organiser, who can answer enquiries about attending one of these. Some of our meetings are virtual, and so in principle accessible to many. Please get in touch if you want to get involved.</p>
      </div>
    </div>
  </div>
</div>
