---
layout: web
subpage: foundations
prerequisites: None
---

<div class="golden-large">
  <div class="content">
    <h3>Meetings</h3>
    <p>We try to meet, around the globe, when several of us are in the same place. Meetings are posted with the name of the local organiser, who can answer enquiries about attending one of these.</p>

    <div class="container">
      <div class="half">
        <h4>Topics</h4>
        <ul>
          <li>Empathy</li>
          <li>Sympathy</li>
          <li>Identification</li>
          <li>Current developments in psychology</li>
          <li>Classics</li>
          <li>Anthropology</li>
          <li>Philosophy of empathy and sympathy</li>
        </ul>
      </div>
      <div class="half">
        <!--<h4>Objectives</h4>-->
        <!--<ul>-->
        <!--        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>-->
        <!--        <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>-->
        <!--        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>-->
        <!--        <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>-->
        <!--</ul>-->
      </div>
    </div>


  </div>
</div>
<div class="golden-small">
  <div class="content">
    <h4>Scheduled</h4>
    <ul class="resource-list class-list">
      {% for class in site.tags.web-foundations reversed %}
        <li class="resource class small-class">
          <div class="summary">
            <div class="actions">
              <p class="register">
                <a href="{{ class.registration_url }}" class="button">Register Now</a>
              </p>
            </div>
            <h4>{{ class.title }}</h4>
	      <p><em>{{ class.location }}</em></p><br/>
            <p>
            </p>
            <div class="description">
              <!-- <p><span class="cost">{{ class.cost }}</span></p> -->
            </div>
          </div>
          <div class="details">
            <span class="date">
              <img src="{{ site.url }}/img/icon-calendar.png" alt="Date" width="16px" height="16px" class="icon">
              {{ class.the_date }}
            </span>
            <span class="time">
              <img src="{{ site.url }}/img/icon-clock.png" alt="Time" width="16px" height="16px" class="icon">
              {{ class.start_time }}
              {% if class.end_time %} to {{ class.end_time }}{% endif %}
              {% if class.timezone %}(<a href="{{ class.timezonelink }}">{{ class.timezone }}</a>){% endif %}
            </span>
          </div>
        </li>
      {% endfor %}
      {% if site.tags.web-foundations[0] == null %}
        <p>There are no scheduled web-based foundation classes at this time. Stay tuned for updates!</p>
      {% endif %}
    </ul>
    <p>Feel free to <a href="{{ site.url }}/contact/">contact us</a> for more information.</p>
    <!-- {% if page.prerequisites %}
      <h4>Prerequisites</h4>
      <p>{{ page.prerequisites }}</p>
    {% endif %} -->
  </div>
</div>
