---
layout: web
subpage: classes
---

<div class="container">
  <div class="three-quarters">
    <div class="content">
      <div class="section-description">
        <h3>Pat meetings</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <ul class="resource-list class-list">
        {% for class in site.tags.web-free reversed %}
          <li class="resource class">
            <div class="summary">
              <div class="actions">
                <!-- <p class="cost">Free Class</p> -->
                <!-- <p class="register">
                  <a href="{{ class.registration_url }}" class="button">Register Now</a>
                </p> -->
              </div>
              <h4>{{ class.title }}</h4>
	                   <p><em>{{ class.location }}</em></p><br/>
              {{ class.content }}
            </div>
            <div class="details">
              <span class="date">
                <img src="{{ site.url }}/img/icon-calendar.png" alt="Date" width="16px" height="16px" class="icon">
                {{ class.the_date }}
              </span>
              <span class="time">
                <img src="{{ site.url }}/img/icon-clock.png" alt="Time" width="16px" height="16px" class="icon">
                {{ class.start_time }}
                {% if class.end_time %} to {{ class.end_time }}{% endif %}
                {% if class.timezone %}(<a href="{{ class.timezonelink }}">{{ class.timezone }}</a>){% endif %}
              </span>
            </div>
          </li>
        {% endfor %}
      {% if site.tags.web-free[0] == null %}
        <p>There are no scheduled web-based free classes at this time. Stay tuned for updates!</p>
      {% endif %}
      </ul>
    </div>
  </div>
  <div class="quarter">
    <div class="content">
      <div class="help-box">
        <h4>About our meetings</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>
