---
layout: default
body_class: members
title: Members of INSEI
html_title: Members
byline: Meet the people involved.
---

{% for member in site.categories.members %}
  <div class="trainer section center-on-mobiles">
    <div class="fifth">
      <div class="content">
        <img src="{{ member.avatar_url }}" class="avatar" alt="{{ member.name }}, GitHub Trainer">
      </div>
    </div>
    <div class="four-fifths">
      <div class="content">
        <div class="container">
          <div class="half">
            <h3>
              {{ member.name }}
	      <!-- <a href="{{ trainer.website }}">{{ trainer.name }}</a> -->
              <span class="social">
                <!-- <a href="https://github.com/{{ trainer.github }}">
                  <img src="{{ site.url }}/img/octocat-icon.png" width="16px" height="16px" alt="View {{ trainer.github }}’s code on GitHub">
                </a>
                <a href="mailto:{{ trainer.email }}">
                  <img src="{{ site.url }}/img/icon-mail.png" width="25px" height="16px" alt="Contact {{ trainer.name }} via email">
                </a> -->
	 {% if trainer.twitter %}
                <a href="http://twitter.com/{{ member.twitter }}">
                  <img src="{{ site.url }}/img/twitter-icon.png" width="16px" height="16px" alt="Follow {{ member.github }} on Twitter">
                </a>{% endif %}
              </span>
            </h3>
            <p class="bio">{{ member.content }}</p>
          </div>
          <div class="half">
            <!-- <div class="testimonial content">
              <div class="quote">
                <p>“{{ trainer.testimonial }}”</p>
                <div class="pointer-border"></div>
                <div class="pointer"></div>
              </div>
              <div class="author">
                <strong>{{ trainer.testimonial_author }}</strong>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
