---
layout: default
body_class: web
title: Meetings
html_title: INSEI Meetings
byline: Seminars, workshops and conferences.
---

<div class="subpage-list">
  <ul>
          <li{% if page.subpage == 'foundations' %} class="current"{% endif %}>
            <a href="{{ site.url }}/meetings/upcoming/">Upcoming meetings</a>
          </li>
    <li{% if page.subpage == 'classes' %} class="current"{% endif %}>
      <a href="{{ site.url }}/metings/past/">Past meetings</a>
    </li>
    <!-- <li{% if page.subpage == 'advanced' %} class="current"{% endif %}>
      <a href="{{ site.url }}/web/advanced-git/">Advanced GitHub &amp; Git Course</a>
    </li> -->
  </ul>
</div>

<div class="container">
  {{ content }}
</div>
